<h1>Liste des requetes</h1>



<div class="">
  <h1>Envoyees</h1>
  <div class="ui huge list">
    <% @sent_requests.each do |request| %>
        <div class="item">
          <% if request.answerer.avatar.exists? %>
              <%= image_tag request.answerer.avatar.url(:thumb), :class => "ui avatar image" %>
          <% else %>
              <%= image_tag "avatarHomme.png", height: "100", :width => "100", :class => "ui avatar image" %>
          <% end %>

          <div class="content">
            <span class="header"><span class="statusIcon fa <%= request.acceptanceIcons %>"></span><%= link_to request.answerer.name, user_path(request.answerer), :class => "normalText"%></span>
            <div class="description"><%= request.displayAcceptanceMessage %>
              <span class="funkyText"><%= request.user_link_type.title %></span>
              <div class="notImportantText"><%= request.created_at.strftime("(Le %d/%m/%Y a %H:%M)") %></div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <h1>Recues</h1>
  <div class="ui huge list">
    <% @received_requests.each do |user_link| %>
        <%= render partial: "requestLine", locals: { user_link: user_link } %>
    <% end %>
</div>
</div>

