<% # encoding: utf-8   %>

<div class="item conceptItem concept<%= user_concept.id %>">
  <div class="image">
    <img src="<%= image_url 'house.png' %>">

    <div class="meta">
      <span><%= user_concept.created_at.strftime("Imaginee le  %d/%m/%Y") %></span>

    </div>
  </div>
  <div class="content">
    <a class="header"><%= user_concept.title %></a>
    <!--<i class="fa fa-2x fa-toggle-off"></i>-->

    <a class="ui icon red button right floated removeConcept"
       data-conceptid="<%= user_concept.id %>" data-url="<%= concepts_remove_concept_for_user_path %>">
      <i class="icon fa fa-times"></i>
    </a>
    <!--<a class="ui icon orange button right floated askForConceptReview"-->
       <!--data-conceptid="<%= user_concept.id %>" data-url="<%= concepts_ask_for_concept_review_path %>">-->
      <!--<i class="icon fa fa-share-alt"></i>-->
    <!--</a>-->
    <!--<a class="ui icon button right floated publishConcept"-->
       <!--data-conceptid="<%= user_concept.id %>" data-url="<%= concepts_publish_concept_path %>">-->
      <!--<i class="icon fa fa-toggle-off"></i>-->
    <!--</a>-->

    <div class="meta">
      <span></span>

    </div>
    <div class="description ">

      <%= form_for user_concept, url: {controller: "concepts", action: "edit_user_concept"}, method: "post", html: {class: "ui form"} do |f| %>
          <% theStringId=user_concept.id.to_s %>

          <%= f.hidden_field :id %>
            <div class="field">
              <label>Titre</label>
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <label>Description</label>
              <%= f.text_area :content, size: "60x12" %>
            </div>

          <div class="inline fields">
            <div class="three wide field">
              <label>Actuellement, </label>
            </div>
            <div class="two wide field">
              <%= f.number_field(:associate_number, in: 0..100, step: 1) %>
            </div>
            <div class="ten wide field">
              <label>Personnes travaillent pour nous.</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="four wide field">
              <label>Il nous manque encore </label>
            </div>
            <div class="two wide field">
              <%= f.number_field(:associate_wished_number, in: 0..100, step: 1) %>
            </div>
            <div class="ten wide field">
              <label>Personnes.</label>
            </div>
          </div>

          <h4>Categories</h4>
          <%= select_tag(:category_ids, "", multiple: true, class: "ui dropdown search conceptCategorySelect conceptCategory"+theStringId,
                         data: {:url => data_source_category_list_url,
                                :initializeurl => concepts_categories_for_concepts_url, :objectlinkid => user_concept.id}) %>
          <br>
          <br>
          <%= f.submit "Valider", class: "ui primary button right floated validationForUserConcepts" %>
      <% end %>
    </div>

  </div>
</div>