<% # encoding: utf-8 %>

<div class="card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <%- if (current_user.id != user.id) %>
              <%- unless current_user.friendsAsked_ids.include?(user.id) %>
                  <div class=""><%= render 'follow', :user => user %></div>
              <%- end %>
              <%- unless current_user.linkedUsersAsked_ids.include?(user.id) %>
                  <div class=""><%= render 'askForMentorship', :user => user %></div>
              <%- end %>
          <%- end %>
        </div>
      </div>
    </div>
    <%= render 'userAvatar', :user => user %>

  </div>
  <div class="content">
    <%= link_to user.displayName, user , class: "header"%>
    <div class="meta">
      <span class="date"> <%= user.created_at.strftime("Inscription le %d/%m/%Y") %></span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="idea icon"></i>
      <%= user.concepts.count %> Idees
    </a>
  </div>
</div>