<% # encoding: utf-8 %>
<h1>Profil de <%= @user.name %></h1>
<p></p>
<div class="userProfile">


  <div class="ui grid">
    <%= render 'userCard', :user => @user %>

    <div class="eight wide column">
      <%= render 'talentsForProfile', :user => @user %>
      <%= render 'friendsForProfile', :user => @user %>
    </div>
  </div>
  <%= render 'editUserIdeas', :user => @user %>



</div>
