<h1>Liste des utilisateurs</h1>

<%= will_paginate %>

<div class="ui three stackable special cards">
  <% @users.each do |user| %>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class=""><%= render 'becomeFriend', :user => user %></div>
              </div>
            </div>
          </div>
          <img src="<%= image_url "avatarHomme.png"%>">
        </div>
        <div class="content">
          <%= link_to user.name, user , class: "header"%>

          <div class="meta">
            <span class="date"> <%= user.created_at.strftime("Here since %d/%m/%Y") %></span>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            2 Members
          </a>
        </div>
      </div>

  <% end %>
</div>



<%= will_paginate %>