<h1>Profil de <%= @user.name %></h1>
<p></p>
<div class="ui stackable special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class=""><%= render 'becomeFriend', :user => @user %></div>
              </div>
            </div>
          </div>
          <img src="<%= image_url "avatarHomme.png"%>">
        </div>
        <div class="content">

          <span class="header"><%= @user.name %></span>

          <div class="meta">
            <span class="date"> <%= @user.created_at.strftime("Since here %d/%m/%Y") %></span>
          </div>
        </div>
        <div class="extra content">
          <!--<a>-->
            <!--<i class="users icon"></i>-->
            <!--2 Members-->
          <!--</a>-->
        </div>
    </div>
</div>
