<% # encoding: utf-8 %>
<h1>Profil de <%= @user.name %></h1>
<p></p>
<div class="userProfile">

  <% if @user.id==current_user.id %>
  <a class="ui button blue" href="<%= edit_user_path %>"><i class="icon pencil"></i>Editer mon profil</a>
      <br>
      <a class="ui button blue" href="<%= change_profile_picture_user_path %>"><i class="icon pencil"></i>Changer ma photo</a>
  <br>
  <a class="ui button blue" href="<%= edit_user_registration_path %>"><i class="icon pencil"></i>Changer mes identifiants</a>
  <% end %>
  <%- if current_user.admin == true && !@user.admin %>
      <a class="ui button orange" href="<%= make_an_admin_from_user_user_path %>">
        <i class="icon pencil"></i>Transformer en Admin
      </a>
  <%- end %>

  <div class="ui grid">
    <%= render 'userCard', :user => @user %>
    <div class="eight wide column">
      <%= render 'talentsForProfile', :user => @user %>
      <%= render 'friendsForProfile', :user => @user %>
    </div>
  </div>
  <%= render 'userIdeas', :user => @user %>
</div>
