<h1 class="ui header homeTitle"> <span class="homeDestination"><p> Start the adventure</p></span></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
  voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa
  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
  voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa
  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
  voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa
  qui officia deserunt mollit anim id est laborum.</p>

<div class="homeContainer">
  <a data-customcolor="c0c1c3"  data-content="Good or bad Idea" data-variation="inverted" class="homeSquare goodOrBadIdeaSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "idea.png" %>">
    <!--<h2 class="ui header">Good or bad idea</h2>-->
  </a>

  <a data-customcolor="b82a55" data-content="Find your soul mate" data-variation="inverted" class="homeSquare findYourSoulSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "heart.png" %>">
    <!--<h2 class="ui header">Find your soul mate</h2>-->
  </a>

  <a data-customcolor="dee4ca" data-content="Law is law" data-variation="inverted" class="homeSquare lawIsLawSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "justice.png" %>">
    <!--<h2 class="ui header">Law is law</h2>-->
  </a>


  <a data-customcolor="5a6258" data-content="Money Broke" data-variation="inverted" class="homeSquare billetsSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "billets.png" %>">
    <!--<h2 class="ui header">Money Broke</h2>-->
  </a>

  <a data-customcolor="ee820d" data-content="Only useful information" data-variation="inverted" class="homeSquare usefulInfoSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "technologies.png" %>">
    <!--<h2 class="ui header">Only useful information</h2>-->
  </a>
  <a data-customcolor="000000" data-content="The Godfather" data-variation="inverted" class="homeSquare godfatherSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "parrainImage.png" %>">
    <!--<h2 class="ui header">The Godfather</h2>-->
  </a>

  <a data-customcolor="5ce4f0" data-content="Find your Home" data-variation="inverted" class="homeSquare findHomeSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "house.png" %>">
    <!--<h2 class="ui header">Find your Home</h2>-->
  </a>

  <a data-customcolor="1e6ea6" data-content="Low-cost consulting" data-variation="inverted" class="homeSquare lowConsultingSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "infoConsultant.png" %>">
    <!--<h2 class="ui header">Low-cost consulting</h2>-->
  </a>

  <a data-customcolor="801515" data-content="Make a tour" data-variation="inverted" class="homeSquare tourSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "red_triangle.png" %>">
    <!--<h2 class="ui header">Low-cost consulting</h2>-->
  </a>



</div>