<h1 class="ui header homeTitle"> <span class="homeDestination"><p> Tout commence dans un garage...</p></span></h1>

<p class="homeSectionDescription"></p>

<div class="homeContainer">
  <a data-customcolor="c0c1c3"  data-content="Good or bad Idea" data-variation="inverted"
     data-explanation="Submit your ideas and get some feedback to know if they are good or not"
     class="homeSquare goodOrBadIdeaSquare" href="<%= home_good_or_bad_idea_path %>">
    <img class="pictureSquare" src="<%= image_url "goodOrBadIdea.png" %>">
    <!--<h2 class="ui header">Good or bad idea</h2>-->
  </a>

  <a data-customcolor="b82a55" data-content="Find your soul mate" data-variation="inverted"
     data-explanation="Find the soul who is going to go with you through the path of success"
     class="homeSquare findYourSoulSquare" href="<%= home_find_your_soul_path %>">
    <img class="pictureSquare" src="<%= image_url "findYourSoulMate.png" %>">
    <!--<h2 class="ui header">Find your soul mate</h2>-->
  </a>


  <a data-customcolor="dee4ca" data-content="Law is law" data-variation="inverted"
     data-explanation="Get some advice on legal matters ! What should any new entrepreneur know ? What are the traps ?"
     class="homeSquare homeSquare2 lawIsLawSquare" href="<%= home_law_is_law_path %>">
    <img class="pictureSquare" src="<%= image_url "lawIsLaw.png" %>">
    <!--<h2 class="ui header">Law is law</h2>-->
  </a>



  <a data-customcolor="5a6258" data-content="Money Broke" data-variation="inverted"
     data-explanation="You need money ? Ideas are good, but get lost without financing..."
     class="homeSquare billetsSquare" href="<%= home_money_broke_path %>">
    <img class="pictureSquare" src="<%= image_url "moneyBroke.png" %>">
    <!--<h2 class="ui header">Money Broke</h2>-->
  </a>

  <a data-customcolor="ee820d" data-content="Only useful information" data-variation="inverted"
     data-explanation="Get general information on the entrepreneur path."
     class="homeSquare usefulInfoSquare" href="<%= home_useful_information_path %>">
    <img class="pictureSquare" src="<%= image_url "usefulInfo.png" %>">
    <!--<h2 class="ui header">Only useful information</h2>-->
  </a>
  <a data-customcolor="000000" data-content="The Godfather" data-variation="inverted"
     data-explanation="Find your mentor, the godfather who will guide you to the path of eternity."
     class="homeSquare homeSquare2 godfatherSquare" href="<%= home_the_godfather_path %>">
    <img class="pictureSquare" src="<%= image_url "theGodfather.png" %>">
    <!--<h2 class="ui header">The Godfather</h2>-->
  </a>

  <a data-customcolor="5ce4f0" data-content="Find your Home" data-variation="inverted"
     data-explanation="Need a roof under which your ideas will thrive ? Click on Find your Home"
     class="homeSquare homeSquare3 findHomeSquare" href="<%= home_find_your_roof_path %>">
    <img class="pictureSquare" src="<%= image_url "findYourHome.png" %>">
    <!--<h2 class="ui header">Find your Home</h2>-->
  </a>

  <a data-customcolor="1e6ea6" data-content="Low-cost consulting" data-variation="inverted"
     data-explanation="No need for really expensive consulting, here, ask for help to poeple who had the same problems as you"
     class="homeSquare homeSquare3 lowConsultingSquare" href="<%= home_low_cost_consulting_path %>">
    <img class="pictureSquare" src="<%= image_url "lowcost.png" %>">
    <!--<h2 class="ui header">Low-cost consulting</h2>-->
  </a>

  <a data-customcolor="801515" data-content="Make a tour" data-variation="inverted"
     data-explanation="Curious about what you can find on this website ? Come with us, and let's make a tour of the site !"
     class="homeSquare homeSquare4 tourSquare" href="<%= home_index_path %>">
    <img class="pictureSquare" src="<%= image_url "makeatour.png" %>">
    <!--<h2 class="ui header">Low-cost consulting</h2>-->
  </a>



</div>