<% # encoding: utf-8   %>

<%= form_for @newUsefulLink, url: {controller: "useful_link", action: "create"}, method: "post", html: {:multipart => true, class: "ui form"} do |f| %>
    <% theStringId=@newUsefulLink.id.to_s %>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="field">
      <label>Titre</label>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <label>Image</label>
      <%= f.file_field :picture %>
    </div>


    <div class="field">
      <label>Description</label>
      <%= f.text_area :description, size: "60x12" %>
    </div>
    <h4>Catégorie</h4>
    <%= select_tag("useful_link[useful_link_category_id]", "",id: "useful_link_useful_link_category_id", class: "ui dropdown search usefulLinksCategory usefulLinksCategory"+theStringId,
                   data: {:url => data_source_useful_link_category_list_url
                   }) %>
    <br>
    <br>
    <%= f.submit "Valider", class: "ui primary button right floated" %>
<% end %>