

<div class="comment">
    <a class="avatar">
      <%= image_tag comment.user.avatar.url(:thumb), height: '50', :width => '50', :class => '' %>
    </a>
    <div class="content">
      <a class="author"><%= comment.user.displayName %></a>
      <div class="metadata">
        <span class="date"><%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %></span>
      </div>
      <div class="text">
        <p><%= comment.body %></p>
      </div>
      <div class="actions">
        <a class="reply replyToComment" data-commentid="<%= comment.id%>">Reply</a>
        <%-
          @emptyComment=LinkComment.new
          @emptyComment.commentable_id= comment.id
          @emptyComment.commentable_type= 'LinkComment'
        %>

        <%= form_for @emptyComment, url: {controller: 'comments', action: 'create'}, method: 'post',html: {class: 'ui reply form formForComment formForComment'+comment.id.to_s} do |f| %>
            <%= f.text_area :body, placeholder: 'Répondre', class: 'commentTextarea' %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.submit 'Valider',class: 'ui primary button' %>
        <% end %>

      </div>
    </div>


    <div class="comments">
      <%= render(partial: 'linkcomment/comment',collection: comment.comments) %>

    </div>
  </div>











