<% # encoding: utf-8   %>
<h1>Gérer les liens</h1>
<%- if current_user.admin? %>
    <a class="ui primary button" href="<%= new_useful_link_path %>"><i class="fa fa-plus"></i> Ajouter un lien</a>

<%- end %>



<%- @usefulLinks.each do |useful_link| %>
    <%= form_for useful_link,  html: {:multipart => true, class: 'ui form'} do |f| %>

        <%= f.hidden_field :id %>
        <h3>Lien #<%= useful_link.id%></h3>

        <div class="field">
          <label>Titre</label>
          <%= f.text_field :title %>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Image courante:</label>
            <% if useful_link.picture.exists? %>
                <%= image_tag useful_link.picture.url(:thumb), height: '100', :width => '100', :class => '' %>
            <% else %>
                <%= image_tag "basicPicture.png", height: '100', :width => '100', :class => '' %>
            <% end %>
          </div>
          <div class="field">
            <label>Publier ?</label>
            <%= f.check_box :is_public %>
          </div>

        </div>

        <div class="field">
          <label>Image</label>
          <%= f.file_field :picture %>
        </div>
        <div class="field">
          <label>Description</label>
          <%= f.text_area :description, size: "60x12" %>
        </div>

        <h4>Catégorie</h4>
        <select name="useful_link[useful_link_category_id]"  class="ui dropdown search usefulLinksCategoryEdit usefulLinksCategory<%= useful_link.id %>"
                data-url="<%= data_source_useful_link_category_list_url %>"
                data-initializeurl="<%= category_for_useful_link_useful_links_path %>"
                data-objectlinkid="<%= useful_link.id %>">
        </select>

        <br>
        <br>
        <%= f.submit "Valider",class: "ui primary button right floated" %>

    <% end %>

<br>

<% end %>