<% # encoding: utf-8   %>
<h1>Gérer les liens</h1>
<%- if current_user.admin? %>
    <a class="ui primary button" href="<%= new_useful_link_path %>"><i class="fa fa-plus"></i> Ajouter un lien</a>

<%- end %>



<%- @usefulLinks.each do |useful_link| %>



    <%= form_for useful_link,  html: {:multipart => true, class: 'ui form'} do |f| %>
        <%= f.hidden_field :id %>
        <h3 class="ui horizontal divider header">
          <i class="fa fa-link icon"></i>
          Lien #<%= useful_link.id%>
        </h3>



        <div class="field">
          <label>Catégorie</label>
          <select name="useful_link[useful_link_category_id]"  class="ui dropdown search usefulLinksCategoryEdit usefulLinksCategory<%= useful_link.id %>"
                  data-url="<%= data_source_useful_link_category_list_url %>"
                  data-initializeurl="<%= category_for_useful_link_useful_links_path %>"
                  data-objectlinkid="<%= useful_link.id %>">
          </select>
        </div>

        <div class="fields">
          <div class="four wide field">
            <label>Image courante:</label>
            <% if useful_link.picture.exists? %>
                <%= image_tag useful_link.picture.url(:thumb), height: '100', :width => '100', :class => '' %>
            <% else %>
                <%= image_tag 'basicPicture.png', height: '100', :width => '100', :class => '' %>
            <% end %>
            <div class="field">
              <label>Image</label>
              <%= f.file_field :picture %>
            </div>
          </div>
          <div class="twelve wide field">
            <div class="field">
              <label>Titre</label>
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <label>Url</label>
              <%= f.text_field :url %>
            </div>
            <label>Publier ?</label>
            <%= f.check_box :is_public %>
          </div>
        </div>

        <div class="field">
          <label>Description</label>
          <%= f.text_area :description, class: 'commentTextarea' %>
        </div>

        <%= f.submit 'Valider',class: 'ui primary button right floated' %>
        <%= link_to 'Destroy', useful_link_path(useful_link.id) ,method: :delete, remote: true %>

        <a class='ui red button right floated deleteALink' data-url="<%= destroy_by_popup_useful_link_path(useful_link.id) %>" data-linkid="<%= useful_link.id %>">
          <i class="fa fa-trash"></i>
        </a>

        <br>
        <br>
    <% end %>



<% end %>