<% # encoding: utf-8   %>
<h1><%= @page_title %></h1>
<%- if current_user.admin? %>
    <a class="ui primary button" href="<%= new_useful_link_path %>"><i class="fa fa-plus"></i> Ajouter un lien</a>
<%- end %>

<div class="ui divided items">

<%- @usefulLinks.each do |useful_link| %>

      <div class="item">
        <div class="image ui">
          <% if useful_link.picture.exists? %>
              <%= image_tag useful_link.picture.url(:medium),  height: '300', :width => '300', :class => '' %>
          <% else %>
              <%= image_tag 'basicPicture.png', height: '300', :width => '300', :class => '' %>
          <% end %>


        </div>
        <div class="content">
          <a class="header">
            <%= useful_link.title %>

          </a>
          <div class="textForItemUrl">
            <a href="<%= useful_link.url %>"><%= useful_link.url %></a>
          </div>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">

            <div class="textForItemDescription"><%= simple_format(useful_link.description) %></div>
          </div>
          <div class="extra">
            <div class=""><%= useful_link.created_at.strftime('%d/%m/%Y') %></div>
          </div>
          <div>


            <div class="ui comments">
              <h3 class="ui dividing header">Commentaires</h3>

              <%= render(partial: 'linkcomment/comment',collection: useful_link.comments) %>

              <%-
                @emptyComment.commentable_id= useful_link.id
                @emptyComment.commentable_type= 'UsefulLink'

              %>

              <div class="ui text replyToComment" data-commentid="0">
                <i class="fa fa-comment"></i> Commenter
              </div>

              <%= form_for @emptyComment, url: {controller: 'comments', action: 'create'}, method: 'post',
                           html: {class: 'ui reply form formForComment formForComment0 newCommentOnLink'}   do |f| %>
                  <div class="field">
                    <%= f.text_area :body, placeholder: 'Ajouter un commentaire', class: 'commentTextarea' %>
                  </div>
                  <%= f.hidden_field :commentable_id %>
                  <%= f.hidden_field :commentable_type %>

                  <%= f.submit 'Valider',class: 'ui primary button' %>
              <% end %>


            </div>





          </div>

        </div>
      </div>






<% end %>
</div>