<% # encoding: utf-8 %>
<!--<div class="ui fixed inverted menu">-->
<div class="ui inverted top fixed menu">

  <div class="ui container">
    <div href="#" class="header item">
      <img class="logo customLogo" src="<%= image_url "tools-icon.png" %>"> Start2Up
    </div>
    <%= link_to 'Home', home_index_path, class: "item active" %>
    <%= link_to 'Entrepreneurs', users_path, class: "item" %>
    <%- if user_signed_in? %>
        <%= link_to 'Followers', followers_user_path(current_user.id), class: "item" %>
        <%= link_to 'People followed', followed_user_path(current_user.id), class: "item" %>
        <a href="<%= mentors_user_path(current_user.id) %>" class="item">
          <i class="icon trophy"></i> Mentors
          <div class="ui grey label"><%= current_user.mentorsCount %></div>
        </a>
        <a href="<%= mentorees_user_path(current_user.id) %>" class="item">
          <i class="icon student"></i> Apprentis
          <div class="ui grey label"><%= current_user.mentoreesCount %></div>
        </a>
        <a href="<%= user_links_path %>" class="item">
          <i class="icon send outline"></i> Requêtes
          <div class="ui red label"><%= current_user.userLinksWaiting %></div>
        </a>


    <%- end %>

    <div class="right menu">
      <%= if user_signed_in?
            link_to 'Profil', current_user, class: "item"
          else
            link_to 'Connexion', new_user_session_path, class: "item"
          end
      %>
      <%= if user_signed_in?
            link_to 'Déconnexion', destroy_user_session_path, method: 'delete', class: "item"
          else
            link_to "S'inscrire", new_user_registration_path, class: "item"
          end
      %>


    </div>


    <!--<a href="#" class="ui simple dropdown item">-->
    <!--Dropdown <i class="dropdown icon"></i>-->
    <!--<div class="menu">-->
    <!--<div class="item">Link Item</div>-->
    <!--<div class="item">Link Item</div>-->
    <!--<div class="divider"></div>-->
    <!--<div class="header">Header Item</div>-->
    <!--<div class="item">-->
    <!--<i class="dropdown icon"></i>-->
    <!--Sub Menu-->
    <!--<div class="menu">-->
    <!--<div class="item">Link Item</div>-->
    <!--<div class="item">Link Item</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">Link Item</div>-->
    <!--</div>-->
    <!--</a>-->
  </div>
</div>