<div class="squareMenuContainer">

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "idea.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "heart.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "justice.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "billets.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "technologies.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "parrainImage.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "house.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "infoConsultant.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "red_triangle.png" %>">
  </a>

</div>