<div class="squareMenuContainer">

<<<<<<< HEAD
  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "idea.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "heart.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "justice.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "billets.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "technologies.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "parrainImage.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "house.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "infoConsultant.png" %>">
  </a>

  <a class="homeSquareMenu" href="<%= home_index_path %>">
=======
  <a class="homeSquareMenu" data-content="Good or bad Idea"
     data-variation="inverted"
     href="<%= home_good_or_bad_idea_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "idea.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Find your soul mate"
     data-variation="inverted"
     href="<%= home_find_your_soul_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "heart.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Law is law"
     data-variation="inverted"
     href="<%= home_law_is_law_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "justice.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Money Broke"
     data-variation="inverted"
     href="<%= home_money_broke_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "billets.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Only useful information"
     data-variation="inverted"
     href="<%= home_useful_information_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "technologies.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="The Godfather"
     data-variation="inverted"
     href="<%= home_the_godfather_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "parrainImage.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Find your Home"
     data-variation="inverted"
     href="<%= home_find_your_roof_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "house.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Low-cost consulting"
     data-variation="inverted"
     href="<%= home_low_cost_consulting_path %>">
    <img class="pictureSquareMenu" src="<%= image_url "infoConsultant.png" %>">
  </a>

  <a class="homeSquareMenu" data-content="Make a tour"
     data-variation="inverted"
     href="<%= home_index_path %>">
>>>>>>> improvedMenuPage
    <img class="pictureSquareMenu" src="<%= image_url "red_triangle.png" %>">
  </a>

</div>