<% # encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Start2Up</title>
  <link rel="icon" type="image/png" href="<%= image_path("tools.png")%>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=	if user_signed_in?
      render 'layouts/globalMenu'
       else
    render 'layouts/globalWelcomeMenu'
       end
%>
<div class="ui container
<%- if (controller_name == "home" && action_name =="index") %>
    globalWelcomeContainer
<%-   else %>
    globalContainer
<%  end %>
">

  <!--<div class="ui main text container globalContainer">-->
  <div class="ui positive message myCustomSuccessMessage">
    <i class="close icon"></i>
    <div class="header myCustomSuccessMessageHeader">
    </div>
    <p class="myCustomSuccessMessageContent"></p>
  </div>
  <div class="ui negative message myCustomErrorMessage">
    <i class="close icon"></i>
    <div class="header myCustomErrorMessageHeader">
    </div>
    <p class="myCustomErrorMessageContent"></p>
  </div>



  <%- if notice != nil && notice != "" %>
      <div class="ui info message">
        <i class="close icon"></i>
        <div class="header notice">
          <%= notice %>
        </div>
      </div>
  <% end -%>

  <%- if alert != nil && alert != "" %>
  <div class="ui warning message">
    <i class="close icon"></i>
    <div class=" alert">
      <%= alert %>
    </div>
  </div>
  <% end -%>
  <% #params.inspect %>
  <%= yield %>
</div>
<!--<p class="notice">-->
  <!--<%= notice %>-->
<!--</p>-->

<!--<p class="alert">-->
  <!--<%= alert %>-->
<!--</p>-->

<div class="ui small confirmationModal basic modal transition visible" style="margin-top: -122.5px; display: block !important;">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Supprimer
  </div>
  <div class="content">
    <p>Voulez vous supprimer ce lien ?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Non
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Oui
    </div>
  </div>
</div>

<!--<%=	render 'layouts/globalFooter' %>-->

</body>
</html>
